body {
    margin: 0;
    font-family: sans-serif;
}

main {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#map {
    height: 100%;
}

#popup {
    top: 10px;
    right: 10px;
    display: none;
}

h4 {
  margin-top: 0;
  margin-bottom: 5px;
}

#legend {
    bottom: 25px;
    right: 10px;
}

#popup, #legend {
    position: fixed;
    background-color: #CCCCCC;
    padding: 10px;
    border-radius: 3px;
    border: solid black 1px;
}

.color {
    display: inline-block;
    height: 10px;
    width: 10px;
    border: solid black 1px;
}
